$height-footer: 60px;

html {
    min-height: 100%;
    position: relative;

    body {
        margin-bottom: $height-footer;
    }

    .footer {
        bottom: 0;
        width: 100%;
        position: absolute;
        height: $height-footer;
    }
}

// Dashboard

.dashboard-box {
    margin-left: 2rem;
}

.table th {
    padding: 5px;
}

.table td {
    padding: 5px;
}

// Portfolio

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-modal-image {
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
}

.modal-dialog {
    width: auto;
    max-width: max-content;
}

// Posts

.pagination {
    margin-bottom: 30px;
}

// Navbar

.navbar-logo {
    width: 200px;
    margin-right: 1rem;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 25px !important;
    }
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    background: $main;
    color: #333;
    transition: all 0.3s;
}

.navbar.compressed {
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.4s;
	margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
    padding: 0;
}

.navbar-toggler .top-bar {
    transform: translate(3px) rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: translate(3px) rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
