html {
    min-height: 100%;
    position: relative;
    background-color: $main;

    $height-footer: 60px;
    body {
        margin-bottom: $height-footer;
        background-color: $main;
        color: #fff;
    }

    .footer {
        bottom: 0;
        width: 100%;
        position: absolute;
        height: $height-footer;
        background-color: $main;
    }

    .footer-copyright {
        background-color: $main;
    }
}

// Buttons
.btn-primary {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

// Cards
.card {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.card-title {
    text-align: center;
}

// Banner
.banner {
    min-height: 400px;
    padding-bottom: 20px;
    background: url(/storage/banners/banner.png) no-repeat 50%;
    background-color: $primary;
    background-blend-mode: multiply;
    background-size: cover;
}

.set-width-banner {
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 20px;
}

.banner-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pos-relative {
    position: relative;
}

.banner-text-h1 {
    font-size: 2rem;
}
.banner-text-h2 {
    font-size: 1.5rem;
}

// Dashboard
.dashboard-box {
    margin-left: 2rem;
}

.table th {
    padding: 5px;
}

.table td {
    padding: 5px;
}

// Portfolio
.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-modal-image {
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
}

.modal-dialog {
    width: auto;
    max-width: max-content;
}

// Posts
.pagination {
    margin-bottom: 30px;
}

// Navbar
.navbar-logo {
    width: 300px;
}
@media screen and (max-width: 1000px) {
    .navbar-logo{
        width: 250px;
    }
}

@media screen and (max-width: 400px) {
    .navbar-logo{
        width: 200px;
    }
}

.navbar {
    padding-top: 40px;
    padding-bottom: 40px;
    background: $main;
    color: #333;
    transition: all 0.4s;
}

.navbar.compressed {
    padding-top: 10px;
    padding-bottom: 10px;
    background: $main;
}

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #B6B6B6;
	display: block;
    transition: all 0.4s;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
    padding: 0;
}

.navbar-toggler .top-bar {
    transform: translate(3px) rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    margin-top: 4px

}

.navbar-toggler .bottom-bar {
    transform: translate(3px) rotate(-45deg);
    transform-origin: 10% 90%;
    margin-top: 4px
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}


.active {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $primary;
}
