.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dashboard-box {
    margin-left: 2rem; 
}

.table th {
    padding: 5px;
}

.table td {
    padding: 5px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}

